html {
  font-family: Open Sans, sans-serif;
  background-color: #f2f2f2;
}

.island {
  background-color: #fff;
}

div {
  padding-bottom: 1rem;
}

fieldset > legend {
  padding-bottom: 1rem;
}

legend {
  padding-top: .5rem;
}

h1 {
  border-bottom: 1px solid #000;
}

body div:first-child {
  max-width: 608px;
}
